# ðŸ“Œ Complete Guide to Python Pandas for Data Engineering

Table of Contents

- Introduction to Pandas
- Installing and Importing Pandas
- Pandas Data Structures
    - Series
    - DataFrame
- Loading and Exporting Data
    - CSV, Excel, SQL, JSON, Parquet
- Data Cleaning and Preprocessing
    - Handling Missing Data
    - Removing Duplicates
    - String Operations
    - Data Type Conversion
- Data Transformation
    - Merging, Joining, and Concatenation
    - Grouping and Aggregations
    - Pivot Tables
    - Reshaping Data
- Data Filtering and Selection
    - Indexing and Slicing
    - Querying Data
- Performance Optimization
    - Using Efficient Data Types
    - Working with Large Datasets
    - Parallel Processing
- Working with Time Series Data
- Integration with SQL and Databases
- Pandas and Big Data Processing
- Practical Real-World Example

# ðŸ“Œ 1. Introduction to Pandas
- Pandas is a Python library used for data manipulation and analysis. It provides Series and DataFrame objects for handling structured data efficiently.

# ðŸ“Œ 2. Installing and Importing Pandas
- You can install Pandas using:


`pip install pandas`

Then, import it in Python:

In [1]:
import pandas as pd

# ðŸ“Œ 3. Pandas Data Structures
### ðŸ”¹ Series (1D Data)
- A Pandas Series is a one-dimensional labeled array.

In [2]:
data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(data)

a    10
b    20
c    30
d    40
dtype: int64

### ðŸ”¹ DataFrame (2D Data)
- A Pandas DataFrame is a two-dimensional table with labeled rows and columns.

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

# ðŸ“Œ 4. Loading and Exporting Data
### ðŸ”¹ Reading Data

In [6]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\Data_Engineering\Data Engineering 1\02_programming_Basics\Python_\data\sample_data.csv")  # CSV
# df = pd.read_excel("data.xlsx")  # Excel
# df = pd.read_json("data.json")  # JSON
# df = pd.read_parquet("data.parquet")  # Parquet
# df = pd.read_sql("SELECT * FROM table_name", con=database_connection)  # SQL

### ðŸ”¹ Writing Data

In [7]:
# df.to_csv(r"Data Engineering 1\02_programming_Basics\Python_\data\sample_data.csv", index=False)
# df.to_excel("output.xlsx", index=False)
# df.to_json("output.json", orient='records')
# df.to_parquet("output.parquet", index=False)

# ðŸ“Œ 5. Data Cleaning and Preprocessing
### ðŸ”¹ Handling Missing Data

In [9]:
df.dropna()  # Remove missing values
df.fillna("Unknown")  # Fill missing values
# df.fillna(df.mean())  # Fill missing values with mean

    id       name  age            city  salary
0    1       John   28        New York   75000
1    2       Jane   35   San Francisco   85000
2    3    Michael   22     Los Angeles   60000
3    4      Emily   31         Chicago   70000
4    5    William   29          Boston   80000
5    6     Sophia   26         Seattle   70000
6    7  Alexander   33          Dallas   90000
7    8     Olivia   27          Austin   75000
8    9      James   30           Miami   80000
9   10  Charlotte   32          Denver   85000
10  11      Ethan   25         Atlanta   70000
11  12       Emma   29         Houston   75000
12  13       Liam   34         Phoenix   95000
13  14   Isabella   28       San Diego   80000
14  15      Mason   31        Portland   85000
15  16        Ava   26    Philadelphia   70000
16  17      Logan   33         Detroit   90000
17  18      Sofia   27     Minneapolis   75000
18  19      Aiden   30         Orlando   80000
19  20        Mia   32           Tampa   85000
20  21      Lucas   25      Sacramento   70000
21  22     Amelia   29      Pittsburgh   75000
22  23       Noah   34       Charlotte   95000
23  24       Ella   28         Raleigh   80000
24  25     Carter   31       Las Vegas   85000
25  26      Grace   26         Memphis   70000
26  27       Jack   33       Nashville   90000
27  28     Hannah   27     Kansas City   75000
28  29       Owen   30     New Orleans   80000
29  30       Lily   32  Salt Lake City   85000
30  31      Wyatt   25     San Antonio   70000
31  32      Avery   29    Indianapolis   75000
32  33       Luke   34   Oklahoma City   95000
33  34    Madison   28     Albuquerque   80000
34  35     Daniel   31       Milwaukee   85000
35  36     Evelyn   26      Fort Worth   70000
36  37    Jackson   33       Cleveland   90000
37  38   Victoria   27      Cincinnati   75000
38  39      David   30       St. Louis   80000
39  40   Samantha   32       Baltimore   85000
40  41     Joseph   25         Anaheim   70000
41  42      Chloe   29       Santa Ana   75000
42  43    Gabriel   34          Tucson   95000
43  44    Abigail   28        Chandler   80000
44  45     Samuel   31      Greensboro   85000
45  46    Eleanor   26         Boulder   70000
46  47    Lincoln   33          Fresno   90000
47  48       Zoey   27        Honolulu   75000
48  49   Jonathan   30       Lexington   80000
49  50      Hazel   32        Richmond   85000

## ðŸ”¹ Removing Duplicates

In [10]:
df.drop_duplicates(inplace=True)

## ðŸ”¹ String Operations

In [ ]:
df['Name'] = df['Name'].str.upper()  # Convert to uppercase
df['Name'] = df['Name'].str.strip()  # Remove spaces
df['Email_Domain'] = df['Email'].str.split('@').str[1]  # Extract email domain

## ðŸ”¹ Data Type Conversion

In [ ]:
df['Age'] = df['Age'].astype(int)
df['Salary'] = df['Salary'].astype(float)

# ðŸ“Œ 6. Data Transformation
## ðŸ”¹ Merging DataFrames

In [ ]:
df1.merge(df2, on="ID", how="inner")  # Inner Join
df1.merge(df2, on="ID", how="left")  # Left Join

## ðŸ”¹ Grouping and Aggregations

In [ ]:
df.groupby('Department')['Salary'].mean()  # Grouping and calculating mean salary
df.groupby('Category').agg({'Sales': 'sum', 'Profit': 'mean'})  # Multiple aggregations

## ðŸ”¹ Pivot Tables

In [ ]:
df.pivot_table(values='Salary', index='Department', columns='Gender', aggfunc='mean')

## ðŸ”¹ Reshaping Data

In [ ]:
df.melt(id_vars=['ID'], var_name='Feature', value_name='Value')

# ðŸ“Œ 7. Data Filtering and Selection
## ðŸ”¹ Indexing and Slicing

In [ ]:
df.loc[df['Salary'] > 50000]  # Filter rows where Salary > 50000
df.iloc[0:5]  # Select first 5 rows

## ðŸ”¹ Querying Data

In [ ]:
df.query("Age > 30 and Salary > 50000")

# ðŸ“Œ 8. Performance Optimization
## ðŸ”¹ Using Efficient Data Types

In [ ]:
df['Category'] = df['Category'].astype('category')  # Reduce memory usage

## ðŸ”¹ Working with Large Datasets

In [ ]:
df = pd.read_csv("large_file.csv", chunksize=10000)
for chunk in df:
    process(chunk)

## ðŸ”¹ Parallel Processing
- Use Dask for handling large datasets.

In [ ]:
import dask.dataframe as dd
df = dd.read_csv("large_file.csv")

# ðŸ“Œ 9. Working with Time Series Data

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.resample('M').mean()  # Resample to monthly data

# ðŸ“Œ 10. Integration with SQL and Databases

In [ ]:
import sqlite3
conn = sqlite3.connect('database.db')
df.to_sql('table_name', conn, if_exists='replace', index=False)

# ðŸ“Œ 11. Pandas and Big Data Processing
- Use Pandas with Spark for big data.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Pandas_Spark").getOrCreate()
df = spark.read.csv("big_data.csv", header=True, inferSchema=True)
df.show()